<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<settings>
			<setting name="Sitecore.Feature.PublishedPageUrl.DataSectionTitle" value="Published Page URL"/>
			<setting name="Sitecore.Feature.PublishedPageUrl.UrlLabel" value="Page URL"/>
			<setting name="Sitecore.Feature.PublishedPageUrl.EnableLinkInUrl" value="True"/>
			<setting name="Sitecore.Feature.PublishedPageUrl.MediaDataSectionTitle" value="Media URL"/>
			<setting name="Sitecore.Feature.PublishedPageUrl.MediaUrlLabel" value="URL(s)"/>
			<setting name="Sitecore.Feature.PublishedPageUrl.EnableLinkInMediaUrl" value="True"/>
			<setting name="Sitecore.Feature.PublishedPageUrl.NoUrlFoundWarningLabel" value="Warning"/>
			<setting name="Sitecore.Feature.PublishedPageUrl.NoUrlFoundWarning" value="No URL was found in Sitecore.Feature.PublishedPageUrl.config for this site or language."/>
		</settings>
		<pipelines>
			<renderContentEditor>
				<processor patch:before="processor[@type='Sitecore.Shell.Applications.ContentEditor.Pipelines.RenderContentEditor.RenderSkinedContentEditor, Sitecore.Client']"
						   type="Sitecore.Feature.PublishedPageUrl.Pipelines.ShowPublishedPageUrl, Sitecore.Feature.PublishedPageUrl">

					<!-- Add a Root Url for each site and language in your implementation. You can also use Role definitions to set values based on enviroment. -->
					<RootUrls hint="raw:LoadRootUrls">
						<RootUrl sitename="website" language="en" sortorder="1" url="https://your-domain.com" />
					</RootUrls>

					<!-- Add items that you would like to render as root items, ignoring their place in the IA (https://www.sitecorefundamentals.com/what-to-do-when-a-client-wants-over-500-authorable-redirects) -->
					<ItemTypesToTreatAsRootUrls hint="raw:LoadTreatAsRootUrlIds">
						<ItemTypesToTreatAsRootUrl>{71710862-98CA-4A76-BE6F-16EBE9FC6F64}</ItemTypesToTreatAsRootUrl>
					</ItemTypesToTreatAsRootUrls>
					
				</processor>
			</renderContentEditor>
		</pipelines>
	</sitecore>
</configuration>