<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<settings>
			<setting name="Sitecore.Feature.PublishedPageUrl.DataSectionTitle" value="Published Page URL"/>
			<setting name="Sitecore.Feature.PublishedPageUrl.UrlLabel" value="Page URL"/>
			<setting name="Sitecore.Feature.PublishedPageUrl.EnableLinkInUrl" value="True"/>
			<setting name="Sitecore.Feature.PublishedPageUrl.MediaDataSectionTitle" value="Media URL"/>
			<setting name="Sitecore.Feature.PublishedPageUrl.MediaUrlLabel" value="URL(s)"/>
			<setting name="Sitecore.Feature.PublishedPageUrl.EnableLinkInMediaUrl" value="True"/>
			<setting name="Sitecore.Feature.PublishedPageUrl.NoUrlFoundWarningLabel" value="Warning"/>
			<setting name="Sitecore.Feature.PublishedPageUrl.NoUrlFoundWarning" value="No URL was found in Sitecore.Feature.PublishedPageUrl.config for this site or language."/>
		</settings>
		<pipelines>
			<renderContentEditor>
				<processor patch:before="processor[@type='Sitecore.Shell.Applications.ContentEditor.Pipelines.RenderContentEditor.RenderSkinedContentEditor, Sitecore.Client']"
						   type="Sitecore.Feature.PublishedPageUrl.Pipelines.ShowPublishedPageUrl, Sitecore.Feature.PublishedPageUrl">

					<!-- Add a Root Url for each site and language in your implementation. You can also use Role definitions to set values based on enviroment. -->
					<RootUrls hint="raw:LoadRootUrls">
						<RootUrl sitename="website" language="en" sortorder="1" url="https://your-domain.com" />
					</RootUrls>
				</processor>
			</renderContentEditor>
		</pipelines>
	</sitecore>
</configuration>