<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net472" />
  <package id="Sitecore.Client.NoReferences" version="9.0.180604" targetFramework="net472" developmentDependency="true" />
  <package id="Sitecore.Kernel.NoReferences" version="9.0.180604" targetFramework="net472" developmentDependency="true" />
  <package id="Sitecore.Logging.NoReferences" version="9.0.180604" targetFramework="net472" developmentDependency="true" />
  <package id="Sitecore.Update.NoReferences" version="9.0.180604" targetFramework="net472" developmentDependency="true" />
  <package id="Sitecore.Zip.NoReferences" version="9.0.180604" targetFramework="net472" developmentDependency="true" />
</packages>